body {
    font-family: Helvetica, Arial, sans-serif;
    background: #f1f1f1;
    color: black;
}

.block{
    height: 300px;
    text-align: center;
}

.block::before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.centered{
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    padding: 10px 15px;
    border: #a0a0a0 solid 1px;
}